/*.card-deck {

	background: yellow;

}*/


.alert {

	margin: 0px;
	padding-top: 64px;
	padding-bottom: 64px;
	border-bottom-color:rgb(255, 255, 255);

    color: rgb(33, 37, 41);

}

.alert-success{
	border: 0px;
}

.alert-heading{
	text-align: center;

}

.h3, h3 {

    text-align: center;
}

.jumbotron{
	margin: 0;
}


.card-deck{
	margin-right: 0px;
	margin-left: 0px;

}

.page-footer {
	margin: 64px;
	background-color: orange;
}

/*
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}*/